
.startbtn{
    background-color:#ffdd50 ;
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 50px;
    width: 10%;
    margin: 2% 0% 0% 0%;
    color:black;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
}

.startbtn span {
    display: flex;
    align-items: center;
    gap: 3px; /* Space between icon and text */
  }

.startbtn .rightarrw{
    align-items: center;
    font-size: 50px;
    color: black;
}

/* Base styles for larger screens */
.maincontent  {
    font-size: 120px;
    margin: 5% 0% 0% 8%;
   
    color: rgb(173, 169, 169);
    
    
}

.maincontent p {
    font-size: 20px;
    font-weight: 2;
    
}

.maincontent span{

    font-family: 'Berghan';
    font-weight: 40;
}

.subcontent {
    margin: 4% 0% 0% 8%;
   
    font-family: 'Berghan';
    color: rgb(173, 169, 169);
}
.icon {

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 8px;
    margin: 7px;
    display: flex;
  align-items: center;
  
  border : 1px solid rgba(255, 255, 255, 0.05); 


}

.allicons {
    display: flex;
    align-items: center; /* Center items vertically */
    flex-wrap: wrap;
    gap: 15px; /* Add spacing between items */
    margin: 0% 0% 0% 0%;
    
  }

.icon a {
    text-decoration: none;
    color:rgb(173, 169, 169) ;
    font-size: 12px;
    text-align: center;
}

.power{
    width: 60px;
    ;
   
}

.manuri{

    float: right;

}
.arrow{
    padding-left: 7px;
    width: 30px;
}


.circle {
    position: relative;
    width: 150px; /* Increase size */
    height: 150px; /* Increase size */
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    width: 70px; /* Adjust size of inner logo */
    height: 70px; /* Adjust size of inner logo */
    background: url(../Assets/world1.png);
    border-radius: 50%;
    background-size: cover;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
    color: rgb(173, 169, 169);
}

@keyframes rotateText {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1rem; /* Slightly increase font size */
    transform-origin: 0 75px; /* Adjust radius for expanded circle */
    line-height: 1;
    white-space: nowrap;
    color: rgb(173, 169, 169);
}


/* Responsive styles for smaller screens */
.circle{
    margin-left: 75%;
    margin-top: -22%;
}

.scroll a{
    font-size: 80px;
    color: black;
    font-weight: 100;
}


@media only screen and (max-width: 1500px)and (min-width:1300px) {
    .maincontent {
        font-size: 120px;
        margin: 10% 4% 0 9%;
        text-align: left;
        
    }
    .subcontent {
        margin: -7% auto 0;
        margin-left: 55%;
        text-align: left;
        
    }
}


@media only screen and (max-width: 1299px) and (min-width:1095px) {
    .maincontent {
        font-size:60px; /* Adjust font size as needed */
        margin: 10% 4% 0 4%; /* Center the main content */
        text-align: left;
    }

    .subcontent {
        margin: -6% auto 0; /* Center the subcontent below */
        margin-left: 44%;
        text-align: left;
    }

    .circle{
        margin-top: -25%;
    }
}


   


 
    





@media only screen and (max-width: 1095px) and (min-width:700px) {
    .maincontent {
        font-size:80px; /* Adjust font size as needed */
        margin: 10% 4% 0 4%; /* Center the main content */
        text-align: left;
    }

    .subcontent {
        margin: 20px auto 0; /* Center the subcontent below */
        margin-left: 4%;
        text-align: left;
    }

    .circle{
        margin-top: -25%;
    }

    .power{
        width: 50px;
    }

    .startbtn {
    width: 100px;
    height: 40px;
    font-size: 16px;
  }

  .rightarrw {
    font-size: 16px;
  }

  .startbtn {
    width: 90px;
    height: 35px;
    font-size: 14px;
    padding: 7px;
  }

  .startbtn .rightarrw {
    font-size: 30px;
  }
}



@media only screen and (max-width: 700px)and (min-width:385px) {
    .maincontent {
        font-size:40px; /* Adjust font size as needed */
        margin: 10% 2% 0 7%; /* Center the main content */
        text-align: left;
      overflow-x: hidden;
        width: 85%;
    }

    .maincontent p {
        font-size:20px; /* Adjust font size as needed */
        
    }

    .subcontent {
        margin: 20px auto 0; /* Center the subcontent below */
        margin-left: 7%;
        text-align: left;
       
       
        width: 83%;
    }

    .circle{
        margin-top: -63%;
        margin-left: 60%;
       
    }
    

    .power{
            width: 40px;
    }

    .circle {
        position: relative;
        width: 80px; /* Reduced size */
        height: 80px; /* Reduced size */
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        position: absolute;
        width: 40px; /* Reduced size */
        height: 40px; /* Reduced size */
        background: url(../Assets/world1.png);
        border-radius: 50%;
        background-size: cover;
    }
    
    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;
        color: rgb(173, 169, 169);
    }
    
    @keyframes rotateText {
        0% {
            transform: rotate(-360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    
    .text span {
        position: absolute;
        left: 50%;
        font-size: 0.7rem; /* Reduced font size */
        transform-origin: 0 40px; /* Adjust radius to match smaller circle */
        line-height: 1;
        white-space: nowrap;
        color: rgb(173, 169, 169);
    }
    
    
    /* Responsive styles for smaller screens */
    .circle{
        margin-left: 75%;
        margin-top: -19%;
    }

    .startbtn {
        width: 90px;
        height: 35px;
        font-size: 14px;
        padding: 7px;
      }
    
      .startbtn .rightarrw {
        font-size: 30px;
      }
  }

  @media only screen and (max-width: 385px)  {
    .maincontent {
        font-size:40px; /* Adjust font size as needed */
        margin: 24% 4% 0 7%; /* Center the main content */
        text-align: left;
    }
    .maincontent p {
        font-size:12px; /* Adjust font size as needed */
        
    }
    .subcontent {
        margin: 20px auto 0; /* Center the subcontent below */
        margin-left: 7%;
        text-align: left;
        font-size: 10px;
    }
    .power{
        width: 20px;
    }

   

    .circle {
        position: relative;
        width: 80px; /* Reduced size */
        height: 80px; /* Reduced size */
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        position: absolute;
        width: 40px; /* Reduced size */
        height: 40px; /* Reduced size */
        background: url(../Assets/world1.png);
        border-radius: 50%;
        background-size: cover;
    }
    
    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;
        color: rgb(173, 169, 169);
    }
    
    @keyframes rotateText {
        0% {
            transform: rotate(-360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    
    .text span {
        position: absolute;
        left: 50%;
        font-size: 0.7rem; /* Reduced font size */
        transform-origin: 0 40px; /* Adjust radius to match smaller circle */
        line-height: 1;
        white-space: nowrap;
        color: rgb(173, 169, 169);
    }
    
    
    /* Responsive styles for smaller screens */
    .circle{
        margin-left: 73%;
        margin-top: -20%;
    }

    .startbtn {
        width: 90px;
        height: 35px;
        font-size: 14px;
        padding: 7px;
      }
    
      .startbtn .rightarrw {
        font-size: 30px;
      }
  }


  @media only screen and (max-width: 330px) and (min-width:320px) {
    .maincontent {
        font-size:50px; /* Adjust font size as needed */
        margin: 24% 4% 0 7%; /* Center the main content */
        text-align: left;
    }

    .maincontent p {
        font-size:10px; /* Adjust font size as needed */
        
    }

    .subcontent {
        margin: 20px auto 7%; /* Center the subcontent below */
        margin-left: 7%;
        text-align: left;
    }

    .circle {
        position: relative;
        width: 80px; /* Reduced size */
        height: 80px; /* Reduced size */
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        position: absolute;
        width: 40px; /* Reduced size */
        height: 40px; /* Reduced size */
        background: url(../Assets/world1.png);
        border-radius: 50%;
        background-size: cover;
    }
    
    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;
        color: rgb(173, 169, 169);
    }
    
    @keyframes rotateText {
        0% {
            transform: rotate(-360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    
    .text span {
        position: absolute;
        left: 50%;
        font-size: 0.7rem; /* Reduced font size */
        transform-origin: 0 40px; /* Adjust radius to match smaller circle */
        line-height: 1;
        white-space: nowrap;
        color: rgb(173, 169, 169);
    }
    
    
    /* Responsive styles for smaller screens */
    .circle{
        margin-left: 70%;
        margin-top: -23%;
    }
  }


  

